---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Design">
  <h1>Design</h1>
  <p>
    We create beautiful and functional designs that resonate with your audience.
  </p>
  <p>Our design services include:</p>
  <ul>
    <li>UI/UX Design</li>
    <li>Brand Identity</li>
    <li>Print Design</li>
    <li>Web Design</li>
  </ul>
</Layout>
