---
import Layout from '@layouts/default.astro';
---

<Layout title="About Andrew Noblet">
  <div class="max-width-56 width-100 margin-auto">
    <h1>About Andrew Noblet</h1>

    <p>
      Hey there! I'm <strong>Andrew Noblet</strong>, a software developer who
      loves building modern, fast, and accessible web experiences. Think of me
      as someone who enjoys making the web a better, more user-friendly place,
      one line of code at a time.
    </p>

    <ul>
      <li><strong>Full Name:</strong> Andrew Noblet</li>
      <li><strong>Born in:</strong> Chile</li>
      <li>
        <strong>Lived in:</strong> Chile, Puerto Rico, Ohio, and now <strong
          >New York!</strong
        >
      </li>
      <li>
        <strong>Find me on GitHub:</strong>
        <a href="https://github.com/anoblet" target="_blank" rel="noopener"
          >anoblet</a
        >
      </li>
      <li>
        <strong>When I'm not coding, I'm usually:</strong> Skateboarding, Snowboarding,
        or playing Guitar
      </li>
    </ul>

    <p>
      Growing up and living in different places has really shaped how I see the
      world and approach technology. It's taught me to be adaptable and always
      keep a global perspective in mind.
    </p>

    <p>
      My approach to work is all about keeping things simple, building
      components that can be easily reused, and always looking for ways to
      improve. I'm a big believer in working openly with others, writing clear
      documentation, and creating solutions that are genuinely helpful for both
      users and other developers.
    </p>

    <p>
      Feel free to explore the site to learn more about my projects, my thoughts
      on development, and my journey so far. Thanks for stopping by!
    </p>
  </div>
</Layout>
