---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog">
  <h1>Blog</h1>
  <p>Welcome to the blog page!</p>

  <ul>
    <li><a href="/blog/creative">Creative</a></li>
  </ul>
</Layout>
