---
import Layout from '../layouts/default.astro';
---

<Layout title="Blog">
  <div class="gap grid max-width-56 width-100">
    <h1 class="text-align-center">Blog</h1>
    <p class="text-align-center">
      Discover insights, stories, and updates from our team. Explore a range of
      topics designed to inspire, inform, and spark conversation.
    </p>
    <ul class="list">
      <li><a href="/blog/creative">Creative</a></li>
    </ul>
  </div>
</Layout>
