---
import { getCollection } from 'astro:content';
import Layout from '../layouts/default.astro';

const posts = await getCollection('blog');
---

<Layout title="Blog">
  <div class="gap grid max-width-56 width-100">
    <h1 class="text-align-center">Blog</h1>
    <p class="text-align-center">
      Explore fresh ideas, stories, and updates from our team. Dive into topics
      that inspire, inform, and spark new conversations.
    </p>
    <ul class="list">
      {
        posts.map(post => (
          <li>
            <a href={'/blog/' + post.id}>
              {post.data.title} - {post.data.date}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
