---
import Layout from '../layouts/default.astro';
---

<Layout title="Blog">
  <div class="gap grid max-width-56 width-100">
    <h1 class="text-align-center">Blog</h1>
    <p class="italic text-align-center">Welcome to the blog page!</p>
    <ul class="list">
      <li><a href="/blog/creative">Creative</a></li>
    </ul>
  </div>
</Layout>
