---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Andrew Noblet">
  <index-component></index-component>
</Layout>
<script>
  import { Base } from '@components/base';
  import '@components/button';
  import { globalStyles } from '@styles/global.ts';
  import { css, html } from 'lit';
  import { customElement } from 'lit/decorators.js';

  @customElement('index-component')
  class IndexComponent extends Base {
    static styles = [
      globalStyles,
      css`
        :host {
          flex: 1;
          width: 100%;
        }

        section {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 2rem;

          h1 {
            color: var(--index-h1-color);
            font-size: 1.75rem;
            font-weight: 500;
            margin: 0;
            padding: 2rem;
          }

          .bold {
            font-weight: 800;
          }

          #buttons {
            min-width: 50%;

            > * {
              display: flex;

              button-component {
                flex: 1;
              }
            }

            a {
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      `,
    ];

    render() {
      return html`
        <section>
          <media-component desktop>
            <h1 class="text-align-center hidden-mobile">
              Andrew Noblet | <span class="bold">Software Developer</span>
            </h1>
          </media-component>
          <media-component mobile>
            <h1 class="grid text-align-center hidden-desktop">
              <span class="text-align-center">Andrew Noblet</span>
              <span class="bold">Software Developer</span>
            </h1>
          </media-component>
          <media-component class="align-items-center" desktop>
            <div class="column gap grid min-width-50 padding" id="buttons">
              <button-component href="/portfolio" variant="primary">
                Portfolio
              </button-component>
              <button-component href="/services" variant="secondary">
                Services
              </button-component>
            </div>
          </media-component>
          <media-component mobile>
            <div class="gap grid min-width-50 padding" id="buttons">
              <button-component href="/portfolio" variant="primary">
                Portfolio
              </button-component>
              <button-component href="/services" variant="secondary">
                Services
              </button-component>
            </div>
          </media-component>
        </section>
      `;
    }
  }
</script>
