---
import Layout from '../layouts/default.astro';
import litdev from '../assets/lit.dev_.webp';
---

<Layout title="Lit">
  <h1>Lit</h1>
  <card-component>
    <img src={litdev.src} alt="Lit" slot="image" />
    <h2 slot="title">
      <a href="https://lit.dev/">Lit</a>
    </h2>
    <div class="tags" slot="tags">
      <tag-component>JavaScript</tag-component>
      <tag-component>TypeScript</tag-component>
      <tag-component>Web Components</tag-component>
      <tag-component>LitElement</tag-component>
      <tag-component>Open Source</tag-component>
    </div>
    <ul class="flex column gap padding color-neutral-200" slot="content">
      <li>
        Lit is a fast, modern library for building web components and reactive
        UIs.
      </li>
      <li>
        I’ve spent 5+ years learning Lit and contributing to its ecosystem,
        sharing ideas and improvements with the community.
      </li>
      <li>
        My work includes building reusable UI components, exploring advanced
        patterns, and championing web standards.
      </li>
    </ul>
  </card-component>
</Layout>

<script>
  import '../components/card';
  import '../components/tag.ts';
</script>
