---
import Layout from "../layouts/Layout.astro";
import avantisystemsusa from "../assets/avantisystemsusa.com_.png";
import graduationSource from "../assets/graduationsource.com_.png";
import cxl from "../assets/cxl.com_.png";
---

<Layout title="Projects">
  <h1>Projects</h1>
  <project-card image={cxl.src} title="CXL" href="https://cxl.com/">
    <div class="chips" slot="chips">
      <chip-component>HTML</chip-component>
      <chip-component>CSS</chip-component>
      <chip-component>JavaScript</chip-component>
      <chip-component>Web Components</chip-component>
      <chip-component>Lit</chip-component>
      <chip-component>Wordpress</chip-component>
      <chip-component>WooCommerce</chip-component>
    </div>
    <ul id="content" slot="content">
      <li>
        Contributed to the development of CXL.com, a premier online training
        platform for B2B marketers.
      </li>
      <li>
        Showcased skills in building a feature-rich e-learning system, including
        dynamic content management for a vast library of courses, user
        authentication and progression tracking, and a subscription-based
        e-commerce model.
      </li>
      <li>
        Emphasis was placed on creating a responsive, high-performance user
        experience for on-demand and live course delivery.
      </li>
    </ul>
  </project-card>
  <project-card
    image={graduationSource.src}
    title="Graduation Source"
    href="https://graduationsource.com/"
  >
    <div class="chips" slot="chips">
      <chip-component>HTML</chip-component>
      <chip-component>CSS</chip-component>
      <chip-component>JS</chip-component>
      <chip-component>PHP</chip-component>
      <chip-component>Magento</chip-component>
    </div>
    <ul id="content" slot="content">
      <li>
        Developed and maintained a comprehensive e-commerce platform for
        GraduationSource, a leading supplier of academic regalia, serving over
        500,000 graduates annually.
      </li>
      <li>
        Key contributions included enhancing the product catalog system with
        diverse categories and customization options, implementing robust order
        management and inventory tracking, and developing secure user account
        functionalities.
      </li>
      <li>
        The project involved creating specialized student ordering portals,
        integrating multiple payment gateways, and ensuring a scalable,
        high-performance online shopping experience across various educational
        levels, from kindergarten to university.
      </li>
    </ul>
  </project-card>
  <project-card
    image={avantisystemsusa.src}
    title="Avanti Systems USA"
    href="https://avantisystemsusa.com/"
  >
    <ul id="content" slot="content">
      <li>
        Developed a comprehensive web presence for Avanti Systems USA, a leading
        manufacturer of commercial interior glass wall systems.
      </li>
      <li>
        This project involved creating a visually appealing and informative
        platform to showcase their diverse product lines, including frameless,
        freestanding, and high wall systems.
      </li>
      <li>
        Key contributions included implementing a user-friendly navigation and
        information architecture to cater to architects, designers, and
        contractors.
      </li>
      <li>
        The site features robust product galleries, detailed specifications, and
        prominent lead generation forms ("Get A Quote") to facilitate customer
        engagement.
      </li>
      <li>
        Emphasis was placed on responsive design to ensure optimal viewing
        across devices and a content management strategy for sections like
        "Featured Projects" and the company blog.
      </li>
    </ul>
  </project-card>
  <contact-component></contact-component>
</Layout>
<style>
  p {
    color: var(--color-neutral-200);
  }

  #content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
  }

  ul {
    color: var(--color-neutral-200);
    list-style-type: "-";
  }

  li {
    padding-left: 1rem;
  }

  li::marker {
    color: var(--color-teal-400);
    content: "•" " ";
    padding-left: 1rem;
  }

  .chips {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    text-wrap: nowrap;

    &:hover {
      overflow-x: auto;
      scrollbar-width: none;
    }
  }
</style>
<script>
  import "../components/card/project-card";
  import "../components/chip.ts";
  import "../components/contact";
</script>
