---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services">
  <h1>Services</h1>
  <ul>
    <li>
      <service-card title="Design">
        <p slot="content">I offer UI/UX design services focused on creating intuitive and user-friendly interfaces that enhance the overall user experience. My approach involves understanding user needs and translating them into visually appealing and functional designs. I have experience in developing component-based architectures and reusable UI elements, which promotes consistency and maintainability across projects. Key areas of my design service include wireframing, prototyping, user flow mapping, and ensuring designs are accessible and performant. I aim to deliver designs that not only meet aesthetic goals but also drive user engagement and satisfaction.</p>
      </service-card>
    </li>
    <li>
      <service-card title="Hosting">
        <p slot="content">I provide reliable and scalable hosting solutions tailored to your needs. Whether it's a personal blog or a complex web application, I can help you deploy and manage your project on various platforms. My services include server setup, maintenance, performance optimization, and ensuring high availability and security for your website or application.</p>
      </service-card>
    </li>
    <li>
      <service-card title="Consultation">
        <p slot="content">I offer expert consultation services to help you navigate the complexities of software development. Whether you need guidance on technology choices, project planning, or overcoming specific technical challenges, I can provide strategic advice and practical solutions. My consultation services are designed to empower you with the knowledge and insights needed to make informed decisions and achieve your project goals effectively.</p>
      </service-card>
    </li>
  </ul>
  <script>
    import "../components/card/service-card";
  </script>
</Layout>
<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
  }
</style>
