<copyright-component class="align-items-center flex"></copyright-component>
<script>
  import { Base } from '@components/base';
  import { heart } from '@icons/heart';
  import { customElement } from 'lit/decorators.js';
  import { css, html } from 'lit';

  @customElement('copyright-component')
  class CopyrightComponent extends Base {
    static styles = [
      ...super.styles,
      css`
        :host {
          gap: 0.5rem;
          justify-content: center;
          padding: var(--padding-0-2-5);

          > * {
            display: inline-flex;
          }
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      `,
    ];
    render() {
      return html`
        <!-- <span class="rose-400">${heart}</span> -->
        <!-- &copy; ${new Date().getFullYear()} Andrew Noblet. All rights reserved. -->
        <!-- <span>Made with love</span> -->
        <span class="rose-400">${heart}</span>
      `;
    }
  }
</script>
