<copyright-component></copyright-component>
<script>
  import { Base } from "@components/base";
  import { heart } from "@icons/heart";
  import { customElement } from "lit/decorators.js";
  import { css, html } from "lit";

  @customElement("copyright-component")
  class CopyrightComponent extends Base {
    static styles = [
      ...super.styles,
      css`
        :host {
          gap: var(--gap);
          justify-content: center;
          padding: var(--padding-0-5);
        }
      `,
    ];
    render() {
      return html`
        <span>${heart}</span>
        &copy; ${new Date().getFullYear()} Andrew Noblet. All rights reserved.
      `;
    }
  }
</script>
