---
const currentYear = new Date().getFullYear();
---

<div class="copyright">
  &copy; {currentYear} Andrew Noblet. All rights reserved.
</div>

<style>
  .copyright {
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
    padding: var(--spacing-md) 0;
  }
</style>
