---
---

<section class="hero">
    <h1>Andrew Noblet | Software Developer</h1>
</section>

<style>
  .hero {
    background: var(--grey-900);
  }

  h1 {
    color: #fff;
    margin: 0;
    padding: 10rem;
    text-align: center;
  }
</style>
