---
import Button from "./Button.astro";
---

<section>
  <h1>Andrew Noblet | <span class="bold">Software Developer</span></h1>
  <div class="grid padding">
    <div>
      <Button>Projects</Button>
    </div>
    <div>
      <Button variant="secondary">Contact</Button>
    </div>
  </div>
</section>

<style>
  section {
    background: var(--grey-900);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      color: #fff;
      font-weight: 500;
      margin: 0;
      padding: 2rem;
    }

    .bold {
      font-weight: 800;
    }

    .grid {
      min-width: 50%;

      > * {
        display: flex;

        button {
          flex: 1;
        }
      }
    }
  }
</style>
