---
import { Icon } from "astro-icon/components";
---

<nav>
  <a href="/">
    <Icon name="mdi:menu" size={32} />
  </a>
</nav>
<style>
  a {
    color: var(--accent-tertiary);
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
  }
</style>
