---
import { Icon } from "astro-icon/components";
import SocialLinks from "./SocialLinks.astro";
---

<nav>
  <menu-component opened>
    <!-- <Icon name="mdi:menu" size={32} slot="icon" /> -->
  </menu-component>
</nav>
<style>
  menu-component {
    &[opened] {
      svg {
        /* color: var(--color-rose-400); */
        /* transition: color 0.2s ease-in-out; */
      }
    }

    svg {
      color: var(--color-teal-200);
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--color-rose-400);
        transition: color 0.2s ease-in-out;
      }
    }

    [slot="social"] {
      display: flex;
      align-items: center;
    }
  }

  nav {
    flex: 1;
  }
</style>
<script>
  import "./Menu.ts";
</script>
