---
import { Icon } from "astro-icon/components";
---

<nav>
  <menu-component>
    <Icon name="mdi:menu" size={32} slot="icon" />
  </menu-component>
</nav>
<style>
  menu-component {
    &:hover {
      svg {
        color: var(--color-rose-400);
      }
    }

    svg {
      color: var(--color-teal-200);
    }
  }
</style>
<script>
  import "./Menu.ts";
</script>
