---
import Menu from "./Menu.astro";
import SocialLinks from "./SocialLinks.astro";
---

<nav>
  <Menu />
  <SocialLinks />
</nav>

<style>
  nav {
    background: var(--color-neutral-800);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    > * {
      display: inline-flex;
      align-items: center;
    }

    h1 {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
</style>
