<media-component desktop>
  <navigation-component></navigation-component>
</media-component>
<media-component mobile>
  <navigation-mobile>
    <aside slot="aside">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/software">Software</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </aside>
  </navigation-mobile>
</media-component>
<style>
  navigation-mobile {
    ul {
      display: grid;
      list-style: none;
      padding: 1rem;

      li {
        border-bottom: 1px solid var(--color-neutral-600);
        padding: 1rem;

        &:last-child {
          border-bottom: unset;
        }
      }
    }
  }
</style>
<script>
  import "./media";
  import "./navigation";
  import "./navigation/mobile";
  import "./social";
</script>
