---
import Menu from "./Menu.astro";
import SocialLinks from "./SocialLinks.astro";
---

<nav>
  <Menu />
  <SocialLinks />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;

    > * {
      display: inline-flex;
      align-items: center;
    }

    h1 {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
</style>
