---
import Layout from '@layouts/Layout.astro';
import cxl from '@assets/cxl.com_.webp';
---

<Layout title="CXL">
  <project-card image={cxl.src} title="CXL" href="/portfolio/cxl">
    <div class="chips" slot="chips">
      <tag-component>HTML</tag-component>
      <tag-component>CSS</tag-component>
      <tag-component>JavaScript</tag-component>
      <tag-component>Web Components</tag-component>
      <tag-component>Lit</tag-component>
      <tag-component>Wordpress</tag-component>
      <tag-component>WooCommerce</tag-component>
    </div>
    <ul slot="content">
      <li>
        Contributed to the development of CXL.com, a premier online training
        platform for B2B marketers.
      </li>
      <li>
        Showcased skills in building a feature-rich e-learning system, including
        dynamic content management for a vast library of courses, user
        authentication and progression tracking, and a subscription-based
        e-commerce model.
      </li>
      <li>
        Emphasis was placed on creating a responsive, high-performance user
        experience for on-demand and live course delivery.
      </li>
    </ul>
  </project-card>
</Layout>
<script>
  import '@components/card/project-card';
  import '@components/tag';
</script>
