---
import Layout from '@layouts/default.astro';
import graduationSource from '@assets/graduationsource.com_.webp';
import ArrowForward from '@icons/arrow-forward.svg';
import { Image } from 'astro:assets';
import '@components/tag';
import '@components/card';
---

<Layout title="Graduation Source">
  <card-component>
    <div class="flex justify-content-space-between align-items-center">
      <h2>Graduation Source</h2>
      <div class="chips">
        <tag-component>HTML</tag-component>
        <tag-component>CSS</tag-component>
        <tag-component>JS</tag-component>
        <tag-component>PHP</tag-component>
        <tag-component>Magento</tag-component>
      </div>
    </div>
    <div class="flex-1">
      <Image
        src={graduationSource}
        alt="Graduation Source"
        class="card-image"
      />
      <ul>
        <li>
          Built and maintained a robust e-commerce platform for
          GraduationSource, serving 500,000+ graduates annually.
        </li>
        <li>
          Enhanced the product catalog, order management, and user account
          features for a seamless experience.
        </li>
        <li>
          Developed student ordering portals, integrated payment gateways, and
          ensured scalable, high-performance shopping for all education levels.
        </li>
      </ul>
    </div>
    <a class="gap-0-5 align-self-flex-end" href="/portfolio/graduation-source">
      Learn more <ArrowForward />
    </a>
  </card-component>
</Layout>
<style>
  .chips {
    overflow-x: auto;
  }

  .card-image {
    width: 100%;
    border-radius: 0.25rem;
    margin: 1rem 0;
  }
</style>
<script>
  import '@components/card';
  import '@components/tag';
</script>
