---
import Layout from '@layouts/default.astro';
import cxl from '@assets/cxl.com_.webp';
import graduationSource from '@assets/graduationsource.com_.webp';
import avantisystemsusa from '@assets/avantisystemsusa.com_.webp';
import ArrowForward from '@icons/arrow-forward.svg';
import { Image } from 'astro:assets';
import '@components/tag.ts';
import '@components/card';
---

<Layout title="Professional Projects">
  <div class="column flex gap page">
    <div class="gap grid justify-content-center text-align-center">
      <h1>Professional Projects</h1>
      <p class="bold-5 max-width-56">
        Explore professional web projects where I’ve built scalable e-commerce
        platforms, educational systems, and corporate sites—demonstrating
        expertise in modern tech and user-focused solutions.
      </p>
    </div>
    <div class="space-0-5"></div>
    <card-component>
      <div class="flex gap justify-content-space-between align-items-center">
        <h2>CXL</h2>
        <div class="chips">
          <div class="flex flex-wrap gap-0-5">
            <tag-component>HTML</tag-component>
            <tag-component>CSS</tag-component>
            <tag-component>JavaScript</tag-component>
            <tag-component>Web Components</tag-component>
            <tag-component>Lit</tag-component>
            <tag-component>Wordpress</tag-component>
            <tag-component>WooCommerce</tag-component>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <Image src={cxl} alt="CXL" class="card-image" />
        <ul>
          <li>
            Helped build CXL.com, a top online training platform for B2B
            marketers.
          </li>
          <li>
            Delivered a feature-rich e-learning system with dynamic content,
            user authentication, and subscription e-commerce.
          </li>
          <li>
            Focused on a responsive, high-performance experience for on-demand
            and live courses.
          </li>
        </ul>
      </div>
      <a class="gap-0-5 align-self-flex-end" href="/portfolio/cxl">
        Learn more <ArrowForward />
      </a>
    </card-component>
    <card-component>
      <div class="flex gap justify-content-space-between align-items-center">
        <h2>Graduation Source</h2>
        <div class="chips">
          <div class="flex flex-wrap gap-0-5">
            <tag-component>HTML</tag-component>
            <tag-component>CSS</tag-component>
            <tag-component>JS</tag-component>
            <tag-component>PHP</tag-component>
            <tag-component>Magento</tag-component>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <Image
          src={graduationSource}
          alt="Graduation Source"
          class="card-image"
        />
        <ul>
          <li>
            Built and maintained a robust e-commerce platform for
            GraduationSource, serving 500,000+ graduates annually.
          </li>
          <li>
            Enhanced the product catalog, order management, and user account
            features for a seamless experience.
          </li>
          <li>
            Developed student ordering portals, integrated payment gateways, and
            ensured scalable, high-performance shopping for all education
            levels.
          </li>
        </ul>
      </div>
      <a
        class="gap-0-5 align-self-flex-end"
        href="/portfolio/graduation-source"
      >
        Learn more <ArrowForward />
      </a>
    </card-component>
    <card-component>
      <div class="flex gap justify-content-space-between align-items-center">
        <h2>Avanti Systems USA</h2>
        <div class="chips">
          <div class="flex flex-wrap gap-0-5">
            <tag-component>HTML</tag-component>
            <tag-component>CSS</tag-component>
            <tag-component>JavaScript</tag-component>
            <tag-component>Wordpress</tag-component>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <Image
          src={avantisystemsusa}
          alt="Avanti Systems USA"
          class="card-image"
        />
        <ul>
          <li>
            Built a modern web presence for Avanti Systems USA, a leader in
            commercial glass wall systems.
          </li>
          <li>
            Designed a visually engaging platform to showcase diverse product
            lines—frameless, freestanding, and high wall systems.
          </li>
          <li>
            Delivered intuitive navigation and information architecture for
            architects, designers, and contractors.
          </li>
          <li>
            Integrated robust product galleries, detailed specs, and lead
            generation forms to boost engagement.
          </li>
          <li>
            Prioritized responsive design and easy content management for
            featured projects and the company blog.
          </li>
        </ul>
      </div>
      <a
        class="gap-0-5 align-self-flex-end"
        href="/portfolio/avanti-systems-usa"
      >
        Learn more <ArrowForward />
      </a>
    </card-component>
  </div>
</Layout>
<style>
  .chips {
    overflow-x: auto;
  }

  .card-image {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    margin: 1rem 0;
  }
</style>
<script>
  import '@components/card';
  import '@components/contact';
  import '@components/tag';
</script>
