---
import avantisystemsusa from '@assets/avantisystemsusa.com_.webp';
import cxl from '@assets/cxl.com_.webp';
import graduationSource from '@assets/graduationsource.com_.webp';
import Layout from '@layouts/default.astro';
---

<Layout title="Professional">
  <div class="column flex gap page">
    <div class="gap grid justify-content-center text-align-center">
      <h1>Professional</h1>
      <p class="bold-5 max-width-56">
        A showcase of professional web development projects where I've
        contributed to building scalable e-commerce platforms, educational
        systems, and corporate websites. Each project demonstrates expertise in
        modern web technologies and user-focused solutions.
      </p>
    </div>
    <scroll-component>
      <card-component>
        <image-component src={cxl.src} alt="CXL"></image-component>
        <h3>CXL</h3>
        <ul>
          <li>
            Contributed to the development of CXL.com, a premier online training
            platform for B2B marketers.
          </li>
          <li>
            Showcased skills in building a feature-rich e-learning system,
            including dynamic content management for a vast library of courses,
            user authentication and progression tracking, and a
            subscription-based e-commerce model.
          </li>
          <li>
            Emphasis was placed on creating a responsive, high-performance user
            experience for on-demand and live course delivery.
          </li>
        </ul>
        <ul class="tags">
          <li><tag-component>HTML</tag-component></li>
          <li><tag-component>CSS</tag-component></li>
          <li><tag-component>JavaScript</tag-component></li>
          <li><tag-component>Web Components</tag-component></li>
          <li><tag-component>Lit</tag-component></li>
          <li><tag-component>Wordpress</tag-component></li>
          <li><tag-component>WooCommerce</tag-component></li>
        </ul>
        <a class="gap-0-5 justify-content-flex-end" href="/portfolio/cxl">
          Learn more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="currentColor"
          >
            <path
              d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
            ></path>
          </svg>
        </a>
      </card-component>
      <card-component>
        <image-component src={graduationSource.src} alt="Graduation Source"
        ></image-component>
        <h3>Graduation Source</h3>
        <ul>
          <li>
            Developed and maintained a comprehensive e-commerce platform for
            GraduationSource, a leading supplier of academic regalia, serving
            over 500,000 graduates annually.
          </li>
          <li>
            Key contributions included enhancing the product catalog system with
            diverse categories and customization options, implementing robust
            order management and inventory tracking, and developing secure user
            account functionalities.
          </li>
          <li>
            The project involved creating specialized student ordering portals,
            integrating multiple payment gateways, and ensuring a scalable,
            high-performance online shopping experience across various
            educational levels, from kindergarten to university.
          </li>
        </ul>
        <ul class="tags">
          <li><tag-component>HTML</tag-component></li>
          <li><tag-component>CSS</tag-component></li>
          <li><tag-component>JavaScript</tag-component></li>
          <li><tag-component>PHP</tag-component></li>
          <li><tag-component>Magento</tag-component></li>
          <li><tag-component>E-commerce</tag-component></li>
        </ul>
        <a
          class="gap-0-5 justify-content-flex-end"
          href="/portfolio/graduation-source"
        >
          Learn more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="currentColor"
          >
            <path
              d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
            ></path>
          </svg>
        </a>
      </card-component>
      <card-component>
        <image-component src={avantisystemsusa.src} alt="Avanti Systems USA"
        ></image-component>
        <h3>Avanti Systems USA</h3>
        <ul>
          <li>
            Developed a comprehensive web presence for Avanti Systems USA, a
            leading manufacturer of commercial interior glass wall systems.
          </li>
          <li>
            This project involved creating a visually appealing and informative
            platform to showcase their diverse product lines, including
            frameless, freestanding, and high wall systems.
          </li>
          <li>
            Key contributions included implementing a user-friendly navigation
            and information architecture to cater to architects, designers, and
            contractors.
          </li>
          <li>
            The site features robust product galleries, detailed specifications,
            and prominent lead generation forms ("Get A Quote") to facilitate
            customer engagement.
          </li>
          <li>
            Emphasis was placed on responsive design to ensure optimal viewing
            across devices and a content management strategy for sections like
            "Featured Projects" and the company blog.
          </li>
        </ul>
        <ul class="tags">
          <li><tag-component>HTML</tag-component></li>
          <li><tag-component>CSS</tag-component></li>
          <li><tag-component>JavaScript</tag-component></li>
          <li><tag-component>Wordpress</tag-component></li>
        </ul>
        <a
          class="gap-0-5 justify-content-flex-end"
          href="/portfolio/avanti-systems-usa"
        >
          Learn more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="currentColor"
          >
            <path
              d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
            ></path>
          </svg>
        </a>
      </card-component>
    </scroll-component>
  </div>
</Layout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type: none;

    li {
      text-wrap: nowrap;
    }
  }

  a {
    align-items: center;
    display: flex;
    text-decoration: none;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }
</style>
<script>
  import '@components/card';
  import '@components/contact';
  import '@components/image';
  import '@components/scroll';
  import '@components/tag';
</script>
